{% block frosh_abandoned_carts_detail %}
<sw-page class="frosh-abandoned-carts-detail">
    {% block frosh_abandoned_carts_detail_smart_bar_header %}
    <template #smart-bar-header>
        <h2>{{ $tc('frosh-abandoned-carts.detail.title') }}</h2>
    </template>
    {% endblock %}

    {% block frosh_abandoned_carts_detail_smart_bar_actions %}
    <template #smart-bar-actions>
        <mt-button
            variant="secondary"
            @click="$router.push({ name: 'frosh.abandoned.carts.list' })"
        >
            {{ $tc('global.default.cancel') }}
        </mt-button>
    </template>
    {% endblock %}

    {% block frosh_abandoned_carts_detail_content %}
    <template #content>
        <sw-card-view v-if="abandonedCart">
            {% block frosh_abandoned_carts_detail_card_info %}
            <sw-card position-identifier="frosh-abandoned-carts-detail-info" :title="$tc('frosh-abandoned-carts.detail.cardTitleInfo')" :isLoading="isLoading">
                <sw-container columns="1fr 1fr" gap="16px">
                    <sw-description-list>
                        <dt>{{ $tc('frosh-abandoned-carts.detail.labelCustomer') }}</dt>
                        <dd>
                            <router-link
                                v-if="abandonedCart.customer"
                                :to="{ name: 'sw.customer.detail', params: { id: abandonedCart.customerId } }"
                            >
                                {{ getCustomerName() }}
                            </router-link>
                            <template v-else>-</template>
                        </dd>

                        <dt>{{ $tc('frosh-abandoned-carts.detail.labelSalesChannel') }}</dt>
                        <dd>{{ abandonedCart.salesChannel ? abandonedCart.salesChannel.name : '-' }}</dd>
                    </sw-description-list>

                    <sw-description-list>
                        <dt>{{ $tc('frosh-abandoned-carts.detail.labelTotalPrice') }}</dt>
                        <dd>{{ formatPrice(abandonedCart.totalPrice) }}</dd>

                        <dt>{{ $tc('frosh-abandoned-carts.detail.labelCreatedAt') }}</dt>
                        <dd><sw-time-ago :date="abandonedCart.createdAt" /></dd>
                    </sw-description-list>
                </sw-container>
            </sw-card>
            {% endblock %}

            {% block frosh_abandoned_carts_detail_card_line_items %}
            <sw-card position-identifier="frosh-abandoned-carts-detail-line-items" :title="$tc('frosh-abandoned-carts.detail.cardTitleLineItems')" :isLoading="isLoading">
                <sw-data-grid
                    v-if="abandonedCart.lineItems && abandonedCart.lineItems.length > 0"
                    :dataSource="abandonedCart.lineItems"
                    :columns="lineItemColumns"
                    :showSelection="false"
                    :showActions="false"
                >
                    {% block frosh_abandoned_carts_detail_line_items_column_label %}
                    <template #column-label="{ item }">
                        <router-link
                            v-if="item.productId"
                            :to="{ name: 'sw.product.detail', params: { id: item.productId } }"
                        >
                            {{ getProductName(item) }}
                        </router-link>
                        <template v-else>
                            {{ getProductName(item) }}
                        </template>
                    </template>
                    {% endblock %}

                    {% block frosh_abandoned_carts_detail_line_items_column_unit_price %}
                    <template #column-unitPrice="{ item }">
                        {{ formatPrice(item.unitPrice) }}
                    </template>
                    {% endblock %}

                    {% block frosh_abandoned_carts_detail_line_items_column_total_price %}
                    <template #column-totalPrice="{ item }">
                        {{ formatPrice(item.totalPrice) }}
                    </template>
                    {% endblock %}
                </sw-data-grid>

                <sw-empty-state
                    v-else
                    :title="$tc('frosh-abandoned-carts.detail.unknownProduct')"
                />
            </sw-card>
            {% endblock %}
        </sw-card-view>

        <sw-loader v-else />
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
